# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\BANDTEC\Bandtec-2021-1\2021_1 Estruturas de Dados e Armazenagem\2021_04_12 Avaliação Continuada 2 - Virtual\lista-aluno\lista-aluno\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
